<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="navbar navbar-dark bg-dark row container-fluid">
    <nav class="navbar navbar-dark bg-dark" aria-orientation="vertical">
        <a class="navbar-brand font-weight-bold" th:utext= "${user.email}"/>
        <a class="navbar-brand">with roles:</a>
        <a class="navbar-brand" th:each="role: ${#authentication.authorities}" th:text="${role.authority}"/>
    </nav>

    <a href="/logout" th:class="text-light">Logout</a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <div role="tablist" sec:authorize="hasAuthority('ADMIN')">
                    <a hidden="true" class="nav-link active"
                       id="v-pills-admin-tab" data-toggle="pill" href="#spanAdminAll" role="tab" aria-controls="v-pills-admin" aria-selected="true" ></a>
                    <a href="/admin/all" id="spanAdminAll"  class="nav-link show">ADMIN</a>
                </div>
                <div role="tablist">
                    <a href="/user"
                       aria-orientation="vertical" aria-selected="true" class="nav-link active">User</a>
                </div>
            </div>
        </div>
            <div class="col-sm-10 bg-light px-5" style="height: 100vh">
                <h1>User information-page</h1>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="listTable" role="tabpanel" aria-labelledby="list-tab">
                        <div class="card">
                            <div class="card-header">
                                <b>About page</b>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover table-users">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Login</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getFirstName()}"></td>
                                        <td th:text="${user.getLastName()}"></td>
                                        <td th:text="${user.getLogin()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <div th:each="role : ${user.getAuthorityList()}">
                                            <span class="text-uppercase"
                                                  th:text="${role.authority}"></span>
                                            </div>
                                        </td>

                                        <td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </table>
</body>
</html>